/* shear style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo h2{
    font-size: 45px;
    width:900px;
    color: #181818;
}
.logo .r{
    color: #FD6E0A;
}

.section-hadding{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-hadding h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-hadding p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
/* main style */

header{
    padding-top: 50px;
    background:url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position:top left,bottom right;
    background-repeat: no-repeat;
}
nav{
    width:71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    gap: 51px;
    list-style-type:none;
    align-items: center;
}
nav .manu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    /* width: 150px;
    height: 65px; */
    width: auto;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor:pointer;
    white-space: nowrap;
}

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-weight: 600px;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-weight:bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-content p{
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img{
    width: 584px;
    vertical-align:middle;
}

/* about section */

#about{
    padding:130px;
}
#about .about-conteinar{
    text-align: center;
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 157px 131px;
}
.about-conteinar .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    color:#757575;
    font-size: 20px;
}
.about-info .info-card h2{
    color: #474747;
    font-size: 20px;
    line-height: 30px;
}

/* skills */

#skills{
    padding: 130px;
}

#skills .skills-conteinar{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-conteinar .skills-box{
    display: flex;
    gap:24px;
    
}
.skills-box .skills-card{
    padding: 30px;
    width:267px;
    box-shadow: 0 6px 50px #00000027;
}
.skills-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
    color: #757575;
    width: 201px;
    line-height: 28px;
    font-size: 16px;
}