/* shear style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo h2{
    font-size: 45px;
    width:900px;
    color: #181818;
}
.logo .r{
    color: #FD6E0A;
}
/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    /* width: 1600px;
    height: 837px; */
}
nav{
    width:71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    gap: 51px;
    list-style-type:none;
    align-items: center;
}
nav .manu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    width: 150px;
    height: 65px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}